{"backup": {"spreadsheetId": "1b7kfGV2XdLWyy_bVgfmByjs0WbA2MngzAHoYZ-wrVPA", "pattern": "Sheet1!A1:??", "updatedRows": 1, "updatedColumns": null, "updatedCells": null,"updatedRange": null}, "current": {"spreadsheetId": "1b7kfGV2XdLWyy_bVgfmByjs0WbA2MngzAHoYZ-wrVPA", "pattern": "Sheet1!A1:??", "updatedRows": 1, "updatedColumns": null, "updatedCells": null,"updatedRange": null}}